snippet cla
	class ${1:Name} {
	  ${2://}
	}

snippet ecl
	export class ${1} {
	  ${2}
	}

snippet edc
	export default class ${1} {
	  ${2}
	}

snippet int
	interface ${1} {
	  ${2}
	}

snippet eint
	export interface ${1} {
	  ${2}
	}

snippet pmet
	public ${1:methodName}(${2:param}) {
	  ${3://}
	}

